<form [formGroup]="articleForm" (ngSubmit)="addArticle()">
    
    <div class="form-item">
      <label for="idUser">Identifiant de l'auteur : </label
      ><input type="number" id="idUser" formControlName="idUser" />
    </div>
  
    <div class="form-item">
        <label for="title">Titre : </label
        ><input type="text" id="title" formControlName="title" />
      </div>
  
      <div class="form-item">
        <label for="body">Contenu : </label
        ><input type="text" id="body" formControlName="body" />
      </div>
  
  
    <button type="submit">Ajouter</button>
  </form>